<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Awesome App</title>
  </head>
  <body>
    <h1>My Awesome App</h1>

    <%= @time_now %>

    <ul>
      <% @todo_list.each do |item| %>
        <li>
          <%= item %>
        </li>
      <% end %>
    </ul>

  </body>
</html>
